<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block page_title %} {% end %}</title>
        <link rel="stylesheet" href="{{ static_url('stylesheets/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('stylesheets/jquery.megamenu.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('stylesheets/jquery.timer.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('stylesheets/datepicker.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ static_url('stylesheets/validate.css') }}" type="text/css" />  

        {% block css_includes %}{% end %}
        <script type="text/javascript" src="{{ static_url('javascripts/jquery.js') }}">
        </script>
        <script language="JavaScript" src="ts_picker.js">
        </script>
        <script type="text/javascript" src="{{ static_url('javascripts/datepicker.js')}}"></script> 
        <script type="text/javascript" src="{{ static_url('javascripts/core.js')}}"></script>
        <script type="text/javascript" src="{{ static_url('javascripts/jquery.validate.js')}}"></script> 
        {% block javascript_includes  %} 
        
        {% end %}
        <script>
          $(document).ready(function() {
            $("#datepicker").datepicker();
            $("#empForm").validate(
              {% import functions %}
              {{ functions.create_validation_rules('validate.yml') }}
            );
            $("#salForm").validate(
              {% import functions %}
              {{ functions.create_validation_rules('salary_validation.yml') }}
            );
          });
        </script>
    </head>
    <body>
        <table id="Wrapper" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td rowspan="2" class="LeftShadowColumn"></td>
                <td valign="top" class="CenterColumn">
                    <div id="BodyContainer">
                        <div id="LogoContainer">
                          <table cellpadding="0" cellspacing="0" style="border-collapse: collapse;" width="950px">
                            <tr>
                              <td aling="center"s>
                                <h2>Pagalguy payroll</h2>
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="TopWidgets">
                          <table border="0" width="100%" cellspacing="0" cellpadding="0" class="TopWidgetsTable">
                          <tr>
                            <td width="350px" class="TWidgetsTD">
                            </td>
                            <td align="right" class="TWidgetsTD">
                              You are logged in as <strong><a href="">{{current_user['name']}}</a></strong> |
                              <a title="Logout" href="">Logout</a>
                            </td>
                          </tr>
                          </table>
                        </div>

                        <div id="MainBlock">
                            <div id="PrepBlock">
                                <div id="MenuBlock">
                                    <!--Left Menu Starts-->
                                       {% import functions %}
                                       {% try %}
                                        {{ functions.create_left_menu('templates/left_menu.html', 'menu.yml', active_link) }}
                                       {% except %}
                                        {{ functions.create_left_menu('templates/left_menu.html', 'menu.yml') }}
                                       {% end %}
                                    <!--Left Menu Ends-->
                                </div>

                                <div id="ContentStream">
                                    {% block body %}{% end %}
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td rowspan="2" class="RightShadowColumn"></td>
            </tr>
<!--            <tr>
                <td id="FooterTD" valign="bottom">
                    <div id="Footer">
                        <span><a href="http://www.pagalguy.com/about-us">About Us</a></span>
                        |<span><a href="http://www.pagalguy.com/advertise-with-us">Advertise</a></span>
                        |<span><a href="http://www.pagalguy.com/contact-us">Contact</a></span>
                        |<span><a href="http://www.pagalguy.com/forum">MBA Forums</a></span>
                        |<span><a href="http://www.pagalguy.com/feedback">Feedback</a></span>
                        |<span><a href="http://www.pagalguy.com/privacy-policy">Privacy</a></span>
                        <div class="CopyrightFooter">
                            PaGaLGuY.com is an <a href="http://www.inzanelabs.com">Inzane Labs Private Limited</a>
                            production. 
                        </div>
                    </div>
                </td>
            </tr> -->
        </table>
    </body>
</html>
