{% extends "base.html" %} 
{% block body %}
{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/leave" method="post" name="leave_form">
      {{ xsrf_form_html() }}
      <div >
        <table>
          <tr>
            <td>Employee Name:</td>
            <td> {{ user['name'] }}</td>
          </tr>
          <tr>
            <td>Date</td>
            <td>Type</td>
          </tr>
          <tr>
            <td>
              <textarea name="date" id="" rows="1" cols="10">{% try %}{{ request.arguments['date'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
            <td>
              <select name="leave_type">
                <option value="month">Monthly</option>
                <option value="vacation">vacation</option>
              </select>
            </td>
          </tr>
        </table>
      </div>
      <input type="hidden" name="user_id" value={{ user['id'] }} />
      <input type="submit" value="Submit">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
