{% extends "base.html" %} 
{% block body %}
{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/leave" method="post" name="leave_form">
      {{ xsrf_form_html() }}
      <div >
        <table>
          <tr>
            <td>Employee Name:</td>
            <td> {{ user['name'] }}</td>
          </tr>
          <tr>
            <td>From Date</td>
            <td>To Date</td>
            <td>Type</td>
          </tr>
          <tr>
            <td>
              <input class="calendarSelectDate" id="datepicker" type="text" name="from_date" value={% try %}{{ request.arguments['from_date'][0] }}{% except %}{{ '' }}{% end %} ></input>
            </td>
            <td>
              <input class="calendarSelectDate" id="datepicker" type="text" name="to_date" value={% try %}{{ request.arguments['to_date'][0] }}{% except %}{{ '' }}{% end %} ></input>
            </td>
            <td>
              <select name="leave_type">
                {% for type in leave_types %}
                  <option value={{type['id']}}>{{type['desc']}}</option>
                {% end %}
              </select>
            </td>
          </tr>
        </table>
      </div>
      <input type="hidden" name="user_id" value={{ user['id'] }} />
      <input type="submit" value="Submit">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
