{% extends "base.html" %} 
{% block body %}

{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/user/new" method="post" name="new_user">
      {{ xsrf_form_html() }}
      <div >
        <table>
          {% for u in user_compo %}
            <tr>
              <td>{{ u['desc'] }}</td> 
              <td>
                <textarea name={{ u['name' ]}} rows="1" cols="20">{% try %}{{ user_details[u['name' ]] }}{% except %}{{ '' }}{% end %}</textarea> 
              </td>
            </tr>
          {% end %}
        </table>
      </div>
      <input type="submit" value="create">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
