{% extends "base.html" %} 
{% block body %}

{% if is_an_admin %}
    <form action="/payroll/employee/new" method="post" name="new_employee" id="empForm">
      {{ xsrf_form_html() }}
      <div >
          <table>
          <!--Form starts-->
              {% import functions %}
              {{ functions.create_emp_form('templates/emp_form.html', 'templates/form_title.html', 'emp.yml') }}
          <!--From ends-->
          </table>
      </div>
          
      <div style="text-align: right;">
        <input type="submit" name="save" value="Save"class="RoundButtons" />
      </div>
    </form>
{% else %}
  You are not allowed to view this page
{% end %}
{% end %}
{% block page_title %}
  PaGaLGuY New user
{% end %}
