{% extends "base.html" %} 
{% block body %}

{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/user/new" method="post" name="new_user">
      {{ xsrf_form_html() }}
      <div >
        <table>
          <tr>
            <td>Employee Name:</td> 
            <td>
              <textarea name="name" id="name" rows="1" cols="20">{% try %}{{ request.arguments['name'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Date of Birth:</td> 
            <td>
              <textarea name="dob" id="dob" rows="1" cols="10">{% try %}{{ request.arguments['dob'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Contact Details:</td> 
            <td>
              <textarea name="mobile" id="mobile" rows="1" cols="10">{% try %}{{ request.arguments['mobile'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Permanant Address:</td> 
            <td>
              <textarea name="permanant_address" id="permanant_address" rows="3" cols="30">{% try %}{{ request.arguments['permanant_address'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Communication Address:</td> 
            <td>
              <textarea name="communication_address" id="communication_address" rows="3" cols="30">{% try %}{{ request.arguments['communication_address'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
        </table>
      </div>

      <div>
        <table>
          <tr>
            <td>Designation:</td> 
            <td>
              <textarea name="designation" id="designation" rows="1" cols="20">{% try %}{{ request.arguments['designation'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Team:</td> 
            <td>
              <textarea name="team" id="team" rows="1" cols="20">{% try %}{{ request.arguments['team'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Joining date:</td> 
            <td>
              <textarea name="joining" id="joining" rows="1" cols="10">{% try %}{{ request.arguments['joining'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>PAN Number:</td> 
            <td>
              <textarea name="pan" id="pan" rows="1" cols="15">{% try %}{{ request.arguments['pan'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Salary Payment Mode:</td> 
            <td>
              <input type="radio" name="salary_mode" id="bank" value="HDFC Bank" {%  try %}{{ ('','checked="checked"')[request.arguments['salary_mode'][0]  == "bank" ] }}{%  except %}{{  '' }}{%  end %}/> HDFC Bank &nbsp;
              <textarea name="accnt" id="accnt" rows="1" cols="15">{% try %}{{ request.arguments['accnt'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
            <td>
              <input type="radio" name="salary_mode" id="cheque" value="cheque" {%  try %}{{ ('','checked="checked"')[request.arguments['salary_mode'][0]  == "cheque" ] }}{%  except %}{{  '' }}{%  end %}/> Cheque
            </td>
          </tr>
        </table>
      </div>
      <input type="submit" value="create">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
