{% extends "base.html" %} 
{% block body %}
{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/salary/{{user['id']}}" method="post" name="new_salary">
      {{ xsrf_form_html() }}
      <div >
        <table>
          <tr>
            <td>Employee Name:</td>
            <td> {{user['name']}}</td>
          </tr>
          <tr>
            <td>Basic salary:</td> 
            <td>
              <textarea name="basic" id="basic" rows="1" cols="15">{% try %}{{ request.arguments['basic'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>HRA</td> 
            <td>
              <textarea name="hra" id="hra" rows="1" cols="15">{% try %}{{ request.arguments['hra'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Conveyence</td> 
            <td>
              <textarea name="conveyence" id="conveyence" rows="1" cols="10">{% try %}{{ request.arguments['conveyence'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Medical</td> 
            <td>
              <textarea name="medical" id="medical" rows="1" cols="10">{% try %}{{ request.arguments['medical'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
        </table>
      </div>
      <div>
        <table>
          <tr>
            <td>Professional Tax:</td> 
            <td>
              <textarea name="pt" id="pt" rows="1" cols="15">{% try %}{{ request.arguments['pt'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>TDS:</td> 
            <td>
              <textarea name="tds" id="tds" rows="1" cols="15">{% try %}{{ request.arguments['tds'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
        </table>
      </div>
      <div>
        <table>
          <tr>
            <td>Monthly leaves:</td> 
            <td>
              <textarea name="monthly_leaves" id="monthly_leaves" rows="1" cols="15">{% try %}{{ request.arguments['monthly_leaves'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
          <tr>
            <td>Vacation leaves (per 6 months):</td> 
            <td>
              <textarea name="vacation_leaves" id="vacation_leaves" rows="1" cols="15">{% try %}{{ request.arguments['vacation_leaves'][0] }}{% except %}{{ '' }}{% end %}</textarea> 
            </td>
          </tr>
        </table>
      </div>
      <input type="hidden" name="user_id" value={{ user['id'] }} />
      <input type="submit" value="Submit">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
