{% extends "base.html" %} 
{% block body %}
{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/salary/{{emp_id}}/new" method="post" name="new_salary">
      {{ xsrf_form_html() }}
      <div >
        <table>
          <tr>
            <td>Employee Name:</td>
            <td> {{emp_name}}</td>
          </tr>
          {% for c in sal_fields %}
          <td>{{ c['col_desc'] }}</td> 
              <td>
                <textarea name={{c['col_name']}} rows="1" cols="15">{% try %}{{ sal_details[c['col_name']] }}{% except %}{{ c['default_val'] }}{% end %}</textarea> 
              </td>
            </tr>
          {% end %}
        </table>
      </div>
      <input type="hidden" name="user_id" value={{ emp_id }} />
      <input type="submit" value="Submit">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
