{% extends "base.html" %} 
{% block body %}
{% if len(errors) > 0 %}
  {{ errors }}
{% end %}
  <div>
    <form action="/payroll/salary/{{user_id}}/new" method="post" name="new_salary">
      {{ xsrf_form_html() }}
      <div >
        <table>
          <tr>
            <td>Employee Name:</td>
            <td> {{user_name}}</td>
          </tr>
          {% for c in sal_compo %}
          <td>{{ c['desc'] }}</td> 
              <td>
                <textarea name={{c['name']}} rows="1" cols="15">{% try %}{{ sal_details[c['name']] }}{% except %}{{ 0 }}{% end %}</textarea> 
              </td>
          <!--<td> On 
                <select name="on_compo_tds">
                  {% for c in sal_compo %}
                    <option value={{c}}>{{c}}</option>
                  {% end %}
                </select>
              </td>-->
            </tr>
          {% end %}
        </table>
      </div>
      <input type="hidden" name="user_id" value={{ user_id }} />
      <input type="submit" value="Submit">
    </form>
  	{% end %}
  </div>

{% block page_title %}
  PaGaLGuY New user
{% end %}
